body {
    background-color: #E0E0E0;
}

h1 {
    text-align: center; 
    font-family: baskerville;

} 
h4 {
    text-align: center;
    font-family: helvetica;
    font-size: 15px;
}

ul {
    text-align: center;
    padding:inherit;
}
li {
    font-family: helvetica;
    display: inline;
    padding: 10px;
}

h2 {
    font-family: baskerville;
}
p {
    font-family: helvetica;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000;
    border-radius: 30px;
}
