header {
    text-align: center;
    padding: 10px;
    font-family: Verdana;
}

header li {
    display: inline;
    padding: 5px;
    font-weight: bold;
    
}

header li a {
    color: black;
}
    
header hr {
    width: 95%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    color: solid black;
    background-color: black;
    border: 0 none;
}


article hr {
    width: 100%;
    margin-left: auto;
    margin-right: auto;   
}

article {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

article h2 {
    font-family: Verdana;
}

h2 {
    font-family: Verdana;   
}

h3 {
    font-family: Verdana;
}

article img {
    float: right;
    padding: 10px;
}


div img {
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    display: left;
}


div ul {
    
    font-family: Verdana;
}

ul {
    list-style-type: square;
}


h5 {
    font-size: 15px;
}


div hr {
    width: 75%;
    margin-left: auto;
    margin-right: auto;   
}

footer hr {
    width: 95%;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: solid black;
    background-color: black;
    border: 0 none;
}


footer ul {
    text-align: center;
    padding: 20px;
    font-weight: bold;
}

footer li {
    display: inline;
    font-family: Verdana;
    color: black;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
}

footer li a {
    color: black;

}
